* 
  font-family $nexalight
  margin 0
  padding 0

body
  margin 0
  padding 0
  background-color $black
  overflow-y scroll !important

  &.lightbox-active
    overflow-y hidden !important

button
  cursor pointer
  outline none
  border none
  padding 10px
  text-transform uppercase
  letter-spacing 0.1em

h2
  text-transform uppercase
  font-size 3.5em
  letter-spacing 0.15em
  width 100%
  text-align center
  font-family $ostrich
  margin 50px auto

h3
  text-transform uppercase
  font-size 2.5em
  letter-spacing 0.15em
  width 100%
  text-align center
  font-family $ostrich
  margin 50px auto

ul
  list-style none

::-moz-selection { 
  background $orange
  color $whitetext
}

::selection { 
  background $orange
  color $whitetext
}

.page
  padding 12px 50px 80px 50px

  & .page-container
    max-width 1200px
    margin 0 auto

