* 
  font-family $nexalight
  margin 0
  padding 0

*[hidden] 
  display none

.hidden
  display none !important

body
  margin 0
  padding 0
  background-color $black
  overflow-y scroll !important

  &.lightbox-active
    overflow-y hidden !important

button
  cursor pointer
  outline none
  border none
  padding 10px 15px
  text-transform uppercase
  letter-spacing 0.2em
  transition all .3s

.Button__main
  background-color $orange
  color $whitetext
  font-family $nexabold
  font-size 16px
  -webkit-box-shadow 3px 4px 22px -4px rgba(0,0,0,0.75)
  -moz-box-shadow 3px 4px 22px -4px rgba(0,0,0,0.75)
  box-shadow 3px 4px 22px -4px rgba(0,0,0,0.75)
  display inline-flex
  align-items center
  align-self flex-start

  img
    height 20px
    margin-right 10px

  &:hover
    background-color $darkorange

input:focus
  outline none
  background-color $darkgreyhighlight

.no-underline
  text-decoration none !important

h2
  text-transform uppercase
  font-size 3.5em
  letter-spacing 0.15em
  width 100%
  text-align center
  font-family $ostrich
  margin 50px auto

h3
  text-transform uppercase
  font-size 2.5em
  letter-spacing 0.15em
  width 100%
  text-align center
  font-family $ostrich
  margin 50px auto

.bold
  font-family $nexabold

ul
  list-style none

::-moz-selection { 
  background $orange
  color $whitetext
}

::selection { 
  background $orange
  color $whitetext
}

.page
  padding 12px 50px 80px 50px

.page-container
  max-width 1500px
  width 100%
  margin 0 auto