$nexalight = "Nexa Light Web", "Segoe UI", arial, verdana, sans-serif
$nexabold = "Nexa Bold Web", "Segoe UI", arial, verdana, sans-serif
$ostrich = "Ostrich Sans Web", "Segoe UI", arial, verdana, sans-serif

@charset 'UTF-8'

@font-face 
  font-family 'Ostrich Sans Web'
  src url('/fonts/ostrich-sans-black.woff') format('woff'),
      url('/fonts/ostrich-sans-black.ttf') format('truetype')

@font-face 
  font-family 'Nexa Light Web'
  src url('/fonts/nexa-light.woff') format('woff'),
      url('/fonts/nexa-light.ttf') format('truetype')

@font-face 
  font-family 'Nexa Bold Web'
  src url('/fonts/nexa-bold.woff') format('woff'),
      url('/fonts/nexa-bold.ttf') format('truetype')
