$darkgrey = #222
$whitetext = #eaeaea
$orange = #df7d32
$darkorange = #b05c1c
$nexalight = "Nexa Light Web", "Segoe UI", arial, verdana, sans-serif
$nexabold = "Nexa Bold Web", "Segoe UI", arial, verdana, sans-serif
$ostrich = "Ostrich Sans Web", "Segoe UI", arial, verdana, sans-serif

@charset 'UTF-8'

@font-face 
  font-family 'Ostrich Sans Web'
  src url('/fonts/ostrich-sans-black.woff') format('woff'),
      url('/fonts/ostrich-sans-black.ttf') format('truetype')

@font-face 
  font-family 'Nexa Light Web'
  src url('/fonts/nexa-light.woff') format('woff'),
      url('/fonts/nexa-light.ttf') format('truetype')

@font-face 
  font-family 'Nexa Bold Web'
  src url('/fonts/nexa-bold.woff') format('woff'),
      url('/fonts/nexa-bold.ttf') format('truetype')

* 
  font-family $nexalight
  margin 0
  padding 0

body
  margin 0
  padding 0
  background-color $whitetext
  overflow-y scroll

button
  cursor pointer
  outline none
  border none
  padding 10px
  text-transform uppercase
  letter-spacing 0.1em

h2
  text-transform uppercase
  font-size 3.5em
  letter-spacing 0.15em
  width 100%
  text-align center
  font-family $ostrich
  margin 50px auto

h3
  text-transform uppercase
  font-size 2.5em
  letter-spacing 0.15em
  width 100%
  text-align center
  font-family $ostrich
  margin 50px auto

ul
  list-style none

.Nav 
  text-align center
  background-color $darkgrey
  padding 30px 20px
  margin 0
  color #fff
  height 500px
  display flex
  align-items center
  justify-content center
  flex-direction column
  border-bottom 1px solid $orange
  overflow hidden
  position relative

  a
    color $whitetext
    text-decoration none
    letter-spacing 0.1em

  &__background-image
    position absolute
    left 0
    top 50%
    transform translateY(-50%)
    min-width 100%
    z-index 0
    transition opacity 0.5s

    &.loading
      opacity 0

    &.loaded
      opacity 1

  &__cta
    position absolute
    top 50px
    right 50px

    &--book-table
      background-color $orange
      color $whitetext
      padding 20px 20px 15px 20px
      font-size 1em
      font-family $nexabold
      
      &:hover
        background-color $darkorange

    &--divide
      margin 1.2em 0 1em 0

    &--phone
      letter-spacing 0.1em
      display flex
      align-items center

      &--text
        font-size 1.2em
        padding-top 0.1em

      &--icon
        width 20px
        height 20px
        margin-right 0.4em
        
    
  &__wrapper
    z-index 1

    &--menu
      list-style none
      padding-left 0
      margin-top 60px
      display flex
      justify-content space-around
      max-width 300px

      & li
        margin 0 20px
        text-transform uppercase
        font-size 1.1em
        font-weight 700

        & a:hover
          text-decoration underline

    h1 
      & a
        text-decoration none

.Footer
  background-color #111
  color #666
  text-align center
  padding 20px

.page
  padding 12px 50px 80px 50px

  & .page-container
    max-width 1200px
    margin 0 auto

.Menu
  background-color $darkgrey
  color $whitetext

  &__sections
    max-width 1600px
    margin 0 auto

.MenuSection
  padding 20px

  &__blocks
    column-count 2
    column-gap 1%

  &__title
    width 100%
    padding-bottom 20px
    border-bottom 1px solid $orange
    margin-bottom 30px


.MenuBlock
  background-color $whitetext
  color $darkgrey
  display inline-block
  -webkit-column-break-inside avoid
  page-break-inside avoid
  break-inside avoid
  float left
  margin 0 0 1em
  width 100%
  padding 30px
  box-sizing border-box
  background-image url('/images/menu/menu-texture.jpg')

  &__title
    color $darkgrey
    margin-bottom 10px
    font-family $nexabold
    font-size 1.6em
    letter-spacing 0.1em
    text-transform uppercase
    padding-bottom 5px
    border-bottom 1px solid $orange

  &__description
    font-size 1em
    margin-bottom 10px

  &__items 
  
    li
      display flex
      flex-wrap wrap
      justify-content space-between
      padding 7px 10px

      *
        font-family 'Helvetica Neue', sans-serif

      &:nth-child(even)
        background-color #ddd

    &--subheading 
      font-size 1.1em
      padding 15px 0 5px 0
      font-family $nexabold
      text-transform uppercase

    &--description
      flex 0 0 90%
      color #666
      font-size 0.9em

    &--allergens
      margin-left 10px

      &--tag
        padding 0
        margin-right 0
        width 20px

.Gallery
  background-color $darkgrey
  color $whitetext

  &__items
    display flex
    align-items space-around
    flex-wrap wrap

    &--block
      position relative
      float left
      width 300px
      height 300px
      background-color $darkgrey
      transition all .3s
      overflow hidden

      &:hover
        cursor pointer
        & > button
          opacity 1 

      &--image
        transform scale(1) 
        filter blur(0) brightness(100%)
        transition all .5s

        &:hover
          transform scale(1.1)
          filter blur(3px) brightness(60%)

        &.loading 
          opacity 0

        &.loaded
          opacity 1

      &--remove-item
        position absolute
        top 10px
        right 10px
        height 30px
        width 30px
        border none
        border-radius 3px
        background-color rgba(30,30,30,1)
        color #fff
        z-index 1
        transition opacity .2s
        opacity: 0

        &:hover
          cursor pointer
          background-color firebrick

          & + div
            opacity 1
            right 45px

        &--caption
          background-color rgba(30,30,30,0.75)
          border-radius 3px
          color #fff
          font-size .8em
          position absolute
          top 12px
          right 25px
          padding 5px 7px
          opacity 0
          transition all .3s ease-in-out


      &--add-item
        padding 50%
        display flex
        justify-content center
        align-items center
        width 100%
        box-sizing border-box
        transition all .3s
        background-color $darkgrey
        -webkit-box-shadow inset 0px 0px 0px 2px rgba(60,60,60,1)
        -moz-box-shadow inset 0px 0px 0px 2px rgba(60,60,60,1)
        box-shadow inset 0px 0px 0px 2px rgba(60,60,60,1)

        & > div
          color #777777
          font-size 1.4em

        &:hover
          cursor pointer
          background-color #333
          -webkit-box-shadow inset 0px 0px 0px 2px rgba(223,125,50,1)
          -moz-box-shadow inset 0px 0px 0px 2px rgba(223,125,50,1)
          box-shadow inset 0px 0px 0px 2px rgba(223,125,50,1)

          & > div
            color #aaa

        &--inner
          position absolute
          color #aaa
          transition all .3s
          
          &--plus
            font-size 5em

          &--text
            font-size 1.2em
          
.Lightbox
  position fixed
  top 0
  left 0
  width 100%
  height 100vh
  background-color rgba(30, 30, 30, 0.8)
  color #fff
  z-index 9
  display flex
  align-items center
  justify-content center
  flex-wrap wrap

  &__nav
    padding 80px 40px
    font-size 3em
    color #fff
    background none
    opacity 0.5
    transition opacity 0.5s

    &:hover
      opacity 1

  &__close
    position absolute
    top 30px
    right 30px
    width 40px
    height 40px
    background-color $darkgrey
    color #fff
    font-size 1.5em
    z-index 10
    display flex
    align-items center
    justify-content center
    border-radius 5px

    &:hover
      background-color firebrick

  &__image
    background-color $darkgrey
    border-radius 10px
    overflow hidden
    width 1000px
    position relative

    &--loading
      position absolute
      text-align center
      width 100%
      top 47%
      color #666

    &--active
      width 100%
      height 600px
      transition opacity .3s
      display block
      position relative
      z-index 11

      &.loading 
        opacity 0

      &.loaded
        opacity 1

    &--caption
      position relative
      background-color $darkgrey
      line-height 0em
      display flex
      border-top 1px solid $orange
      text-align center
      padding 30px 0

      h5
        width 100%
        text-transform uppercase
        font-size 1.2em
        letter-spacing 0.1em
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
    
        

