$darkgrey = #222
$whitetext = #eaeaea
$orange = #df7d32
$darkorange = #b05c1c

$nexalight = "Nexa Light Web", "Segoe UI", arial, verdana, sans-serif
$nexabold = "Nexa Bold Web", "Segoe UI", arial, verdana, sans-serif
$ostrich = "Ostrich Sans Web", "Segoe UI", arial, verdana, sans-serif

@charset 'UTF-8'

@font-face 
  font-family 'Ostrich Sans Web'
  src url('/fonts/ostrich-sans-black.woff') format('woff'),
      url('/fonts/ostrich-sans-black.ttf') format('truetype')

@font-face 
  font-family 'Nexa Light Web'
  src url('/fonts/nexa-light.woff') format('woff'),
      url('/fonts/nexa-light.ttf') format('truetype')

@font-face 
  font-family 'Nexa Bold Web'
  src url('/fonts/nexa-bold.woff') format('woff'),
      url('/fonts/nexa-bold.ttf') format('truetype')

* 
  font-family $nexalight
  margin 0
  padding 0

body
  margin 0
  padding 0
  background-color $whitetext
  overflow-y scroll

button
  cursor pointer
  outline none
  border none
  padding 10px
  text-transform uppercase
  letter-spacing 0.1em

h2
  text-transform uppercase
  font-size 3.5em
  letter-spacing 0.15em
  width 100%
  text-align center
  font-family $ostrich
  margin 50px auto

h3
  text-transform uppercase
  font-size 2.5em
  letter-spacing 0.15em
  width 100%
  text-align center
  font-family $ostrich
  margin 50px auto

ul
  list-style none

::-moz-selection { 
  background $orange
  color $whitetext
}

::selection { 
  background $orange
  color $whitetext
}

.page
  padding 12px 50px 80px 50px

  & .page-container
    max-width 1200px
    margin 0 auto


@import '../components/*'