.AdminBar
  position fixed
  bottom 0
  padding 10px 20px
  width 100%
  background-color $orange
  border-top 3px solid $darkorange
  border-bottom none
  box-sizing border-box
  z-index 999
  display flex
  flex-direction row
  justify-content flex-end
  align-items center

  button
    background-color $orange
    color white
    border 1px solid $orange
    display flex
    align-items center
    font-size 1em
    transition all .3s

    svg
      height 20px
      margin-left 5px
      fill $whitetext

    &:hover
      background-color white
      color $darkorange

      svg
        fill $darkorange

  // &__toggle-edit
  //   align-self right
    
  &.editing
    background-color $green
    border-color $darkgreen

    button
      background-color $green
      border 1px solid $whitetext

      &:hover
        background-color $whitetext
        color $green
