.AdminBar
  position fixed
  bottom 0
  right 50px
  padding 10px 20px
  width 500px
  background-color $orange
  border 3px solid $darkorange
  border-bottom none
  z-index 999
  display flex
  align-items center

  button
    background-color $orange
    color white
    border 1px solid white
    display flex
    align-items center
    padding 5px 8px
    font-size 1em

    svg
      height 20px
      margin-left 5px
      fill $whitetext

    &:hover
      background-color white
      color $darkorange

      svg
        fill $darkorange