.Gallery
  background-color $darkgrey
  color $whitetext

  h2
    margin-right -7px

  &__add
    width 100%
    display flex
    justify-content center
    margin-bottom 50px
    margin-top -20px

    &--button
      transition all .3s
      background-color $orange
      padding 15px 20px 10px 20px

      & > div
        color $whitetext
        font-size 1.4em

      &:hover
        cursor pointer
        background-color $darkorange

      &--inner
        transition all .3s
        display flex
        align-items center
        
        &--plus
          font-size 3em
          margin-right 10px
          margin-top -30px
          height 30px

        &--text
          font-size 1.2em
          letter-spacing 0.2em

  &__items
    display flex
    align-items space-around
    flex-wrap wrap
    width 100%

    &--block
      position relative
      float left
      width 300px
      height 300px
      background-color $whitetext
      transition all .3s
      overflow hidden

      &:hover
        cursor pointer

        & > div
          opacity 1

      &--image
        transform scale(1) 
        transition all .5s

        &.drag-over
          opacity 0.5 !important

        &:hover
          transform scale(1.1)

          & + .Gallery__items--block--icons
            opacity 0.5 !important

          & + .Gallery__items--block--resize
            opacity 1 !important

        &.loading 
          opacity 0

        &.loaded
          opacity 1

        &[draggable]
          cursor grab

      &--resize
        position absolute  
        background-color rgba(255,255,255,0.75)
        color $darkgrey
        font-family $nexabold
        text-transform uppercase
        height 100%
        width 100%
        top 0
        left 0
        z-index 1
        opacity 0
        transition opacity .3s
        display flex
        flex-direction column
        justify-content center
        align-items center
        pointer-events none

        img
          margin-bottom 20px
          width 50px

      &--icons
        position absolute  
        height auto
        top 10px
        right 10px
        z-index 2
        display flex
        flex-direction column
        opacity 0

        &--container
          position relative
          margin-bottom 5px

          & button
            height 30px
            width 30px
            position relative
            font-size 1.2em
            border none
            border-radius 3px
            background-color rgba(30,30,30,1)
            z-index 2
            opacity 1
            color $whitetext

            &:hover
              cursor pointer

              & + div
                opacity 1
                right 28px

          &--remove-item
            padding 3px 0 0 2px

            &:hover
              background-color firebrick

          &--edit-item
            padding 3px 0 0 2px

            &:hover
              background-color green

          & div
            background-color rgba(30,30,30,0.75)
            color $whitetext
            font-size .8em
            position absolute
            top 0
            right 0
            height 30px            
            padding 0 10px
            white-space nowrap
            text-align center
            opacity 0
            pointer-events none
            transition all .3s ease-in-out
            display flex
            align-items center
            justify-content center