
.Lightbox
  position fixed
  top 0
  left 0
  width 100%
  height 100vh
  background-color rgba(0, 0, 0, 0.8)
  color $whitetext
  z-index 9
  display flex
  align-items center
  justify-content center
  flex-wrap wrap
  overflow hidden

  &__nav
    padding 80px 40px
    font-size 3em
    color $whitetext
    background none
    opacity 0.5
    transition opacity 0.5s

    &:hover
      opacity 1

  &__close
    position absolute
    top 30px
    right 30px
    width 40px
    height 40px
    background-color $darkgrey
    color $whitetext
    font-size 1.5em
    z-index 10
    display flex
    align-items center
    justify-content center
    border-radius 5px
    padding 3px 0 0 2px

    &:hover
      background-color firebrick

  &__image
    background-color $darkgrey
    border-radius 10px
    overflow hidden
    position relative

    &--loading
      position absolute
      text-align center
      width 100%
      top 47%
      color #666

    &--active
      transition opacity .3s
      display block
      position relative
      z-index 11
      max-width 75vw
      max-height 85vh

      &.loading 
        opacity 0

      &.loaded
        opacity 1

    &--caption
      position relative
      background-color $darkgrey
      line-height 0em
      display flex
      border-top 1px solid $orange
      text-align center
      padding 30px 0

      h5
        width 100%
        text-transform uppercase
        font-size 1.2em
        letter-spacing 0.1em
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
    
        

