
.Menus
  background-color $darkgrey
  color $whitetext
  display flex
  flex-direction column
  align-items center

  h2
    margin-bottom 35px  

  &__selection
    display flex
    justify-content space-between
    
    &--menu
      width 19%
      overflow hidden
      position relative
      
      img 
        width 100%
        opacity 0.6
        transition all .3s

      &--new
        position absolute 
        bottom 11px
        right 10px
        color $whitetext
        background-color $green
        padding 3px 5px 2px 6px
        border-radius 3px
        z-index 2
        font-family $nexabold
        font-size 14px

      &--caption
        position absolute 
        bottom 0
        z-index 1
        color $whitetext
        text-align center
        background-color rgba(0,0,0,0.8)
        width 100%
        padding 10px
        font-family $nexabold
        font-size 18px

      &.active

        .Menus__selection--menu--caption
          background-color $orange

        img 
          opacity 1
        
      &:hover
        cursor pointer

        .Menus__selection--menu--caption
          background-color $darkorange

        img 
          transform scale(1.1)
          opacity 1

  &__sections
    max-width 1600px
    width 100%
    margin 0 auto

.MenuSection
  padding 0 20px
  display flex
  flex-direction column
  align-items center

  &__title
    width 100%
    padding-bottom 20px
    border-bottom 1px solid $orange
    margin-bottom 30px

  &__options
    display flex
    align-items center
    margin-bottom 30px

    & span 
      font-family $nexabold
      text-transform uppercase
      font-size 0.8em
      letter-spacing 0.1em
      margin-right 5px

    &--PDF
      color $whitetext
      text-decoration none
      margin-left 40px
      
      & button
        font-size 0.8em

    &--filters
      display flex
      text-transform uppercase
      font-size 0.8em
      letter-spacing 0.1em

      & li
        padding 6px 12px 
        background-color $darkgreyhighlight
        border-radius 50px
        margin 0 5px
        user-select none

        &:hover
          cursor pointer
          background-color #666

        &.active
          background-color $orange

          &:hover
            background-color $darkorange

  &__blocks
    column-count 2
    column-gap 20px
    column-width 50%
    width 100%

    &.single-column
      column-count 1
      width 50%
      

.MenuBlock
  break-inside avoid
  page-break-inside avoid
  -webkit-column-break-inside avoid
  background-color $whitetext
  color $darkgrey
  display flex
  flex-direction column
  width 100%
  margin-bottom 20px
  padding 25px
  box-sizing border-box
  background-image url('/images/menu/menu-texture.jpg')

  &__title
    color $darkgrey
    margin-bottom 10px
    font-family $nexabold
    font-size 1.6em
    letter-spacing 0.1em
    text-transform uppercase
    padding-bottom 5px
    border-bottom 1px solid $orange

  &__description
    font-size 1em
    margin-bottom 10px

  &__items
  
    li
      display flex
      flex-wrap wrap
      justify-content space-between
      padding 10px 10px
      position relative

      *
        font-family 'Helvetica Neue', sans-serif

      &:nth-child(even)
        background-color #ddd

    &--subheading 
      font-size 1.1em
      padding 15px 0 5px 0
      font-family $nexabold
      text-transform uppercase 

    &--description
      flex 0 0 90%
      color #666
      font-size 0.9em

    &--section
      margin-bottom 15px
      
      &:last-child
        margin-bottom 0 !important

    &--allergens
      margin-left 10px

      &--tag
        padding 0
        margin-right 0
        width 20px
