.Nav 
  text-align center
  background-color $darkgrey
  padding 30px 20px
  margin 0
  color #fff
  height 420px
  display flex
  align-items center
  justify-content center
  flex-direction column
  overflow hidden
  position relative

  a
    color $whitetext
    text-decoration none

  &__background-image
    position absolute
    left 0
    top 50%
    transform translateY(-50%)
    min-width 100%
    z-index 0
    opacity 0.6

  &__main-logo 
    width 160px
    
  &__wrapper
    z-index 1

    &--menu
      list-style none
      padding-left 0
      margin-top 60px
      display flex
      justify-content space-around
      max-width 300px

      & li a
        margin 0 20px
        text-transform uppercase
        font-size 1.1em
        font-weight 700
        letter-spacing 0.1em
        padding 2px
        border-bottom 2px solid rgba(223,125,50, 0)
        transition border-bottom 0.3s
        user-select none

        &.active
          text-decoration none
          border-bottom-color rgba(223,125,50, 1)

        &:hover
          text-decoration none
          border-bottom-color rgba(223,125,50, 1)


    h1 
      & a
        text-decoration none