.Newsletter
  background-color #eee
  color $darkgreyhighlight
  text-align center
  padding-top 50px
  padding-bottom 0
  border-top 2px solid $orange

  h4
    font-size 1.6em
    margin-bottom 30px

  label
    margin-right 10px
    font-family $nexabold
    text-transform uppercase

  input 
    background-color #ddd
    border none 
    margin-right 30px
    color $darkgrey
    font-size 1.2em
    padding 8px 8px 6px 8px
    width 300px

    &:focus
      background-color #ccc

  form
    margin-bottom 50px

    button
      font-size 1em
      -webkit-box-shadow none
      -moz-box-shadow none
      box-shadow none

  &__parogon-pubs
    background-color $darkgreyhighlight
    color $whitetext
    padding-top 50px
    padding-bottom 50px
    width 100%

    h4 
      margin-bottom 10px
      text-transform uppercase
      letter-spacing 0.1em

    h5
      font-size 1.2em

    &--logos
      display flex
      justify-content space-between