.ParogonNav
  background-color #000
  color $whitetext
  padding 0 10px

  .page-container
    display flex
    justify-content space-between
    align-items center

  a
    display flex
    align-items center
    color $whitetext
    user-select none
    text-decoration none

  &__main-logo
    width 180px

  &__pub-list
    display flex
    justify-content space-between


    &--item
      text-transform uppercase
      letter-spacing 0.1em
      font-size 0.75em
      padding 9px 12px 8px 12px      

      &:hover
        cursor pointer
        background-color #ddd
        color $darkgrey

      &.current
        color $whitetext
        background-color #444

        &:hover
          cursor pointer
          background-color #ddd
          color $darkgrey
