@charset 'UTF-8';
@font-face {
  font-family: 'Ostrich Sans Web';
  src: url("/fonts/ostrich-sans-black.woff") format('woff'), url("/fonts/ostrich-sans-black.ttf") format('truetype');
}
@font-face {
  font-family: 'Nexa Light Web';
  src: url("/fonts/nexa-light.woff") format('woff'), url("/fonts/nexa-light.ttf") format('truetype');
}
@font-face {
  font-family: 'Nexa Bold Web';
  src: url("/fonts/nexa-bold.woff") format('woff'), url("/fonts/nexa-bold.ttf") format('truetype');
}
* {
  font-family: "Nexa Light Web", "Segoe UI", arial, verdana, sans-serif;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background-color: #111;
  overflow-y: scroll !important;
}
body.lightbox-active {
  overflow-y: hidden !important;
}
button {
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  transition: all 0.3s;
}
input:focus {
  outline: none;
  background-color: #444;
}
.Button__main {
  background-color: #f18825;
  color: #eaeaea;
  font-family: "Nexa Bold Web", "Segoe UI", arial, verdana, sans-serif;
  font-size: 0.8em;
  -webkit-box-shadow: 3px 4px 22px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 4px 22px -4px rgba(0,0,0,0.75);
  box-shadow: 3px 4px 22px -4px rgba(0,0,0,0.75);
  display: inline-flex;
  align-items: center;
  align-self: flex-start;
}
.Button__main img {
  height: 20px;
  margin-right: 10px;
}
.Button__main:hover {
  background-color: #c7701f;
}
.no-underline {
  text-decoration: none !important;
}
h2 {
  text-transform: uppercase;
  font-size: 3.5em;
  letter-spacing: 0.15em;
  width: 100%;
  text-align: center;
  font-family: "Ostrich Sans Web", "Segoe UI", arial, verdana, sans-serif;
  margin: 50px auto;
}
h3 {
  text-transform: uppercase;
  font-size: 2.5em;
  letter-spacing: 0.15em;
  width: 100%;
  text-align: center;
  font-family: "Ostrich Sans Web", "Segoe UI", arial, verdana, sans-serif;
  margin: 50px auto;
}
ul {
  list-style: none;
}
::-moz-selection {
  background: #f18825;
  color: #eaeaea;
}
::selection {
  background: #f18825;
  color: #eaeaea;
}
.page {
  padding: 12px 50px 80px 50px;
}
.page-container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}
.AdminBar {
  position: fixed;
  bottom: 0;
  padding: 10px 20px;
  width: 100%;
  color: #eaeaea;
  background-color: #f18825;
  border-top: 2px solid #c7701f;
  border-bottom: none;
  box-sizing: border-box;
  z-index: 999;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s;
}
.AdminBar button {
  background-color: #f18825;
  color: #fff;
  border: 1px solid #eaeaea;
  display: flex;
  align-items: center;
  font-size: 1em;
  transition: all 0.3s;
}
.AdminBar button svg {
  height: 20px;
  margin-left: 5px;
  fill: #eaeaea;
}
.AdminBar button:hover {
  background-color: #fff;
  color: #c7701f;
}
.AdminBar button:hover svg {
  fill: #c7701f;
}
.AdminBar.editing {
  background-color: #54b238;
  border-color: #287f28;
}
.AdminBar.editing button {
  background-color: #54b238;
  border: 1px solid #eaeaea;
}
.AdminBar.editing button:hover {
  background-color: #eaeaea;
  color: #54b238;
}
.AdminBar__status {
  display: flex;
  align-self: stretch;
  position: absolute;
  left: 50%;
  bottom: 12px;
  transform: translateX(-50%);
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.AdminBar__status h4 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 1.6em;
  font-family: "Nexa Bold Web", "Segoe UI", arial, verdana, sans-serif;
}
.AdminBar__status p {
  font-size: 0.8em;
  letter-spacing: 0.1em;
}
.AdminBar__profile {
  display: flex;
  align-self: stretch;
}
.AdminBar__profile--image {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  border: 2px solid #eaeaea;
  margin-right: 20px;
}
.AdminBar__profile--greeting {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #eaeaea;
}
.AdminBar__profile--greeting h4 {
  font-size: 1.5em;
}
.AdminBar__profile--greeting--sign-out:hover {
  text-decoration: underline;
  cursor: pointer;
}
.BookingForm {
  background-color: #444;
  color: #eaeaea;
  padding: 30px 20px;
  margin: 0;
}
.BookingForm .page-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.BookingForm__form1 {
  display: flex;
  font-size: 16px;
}
.BookingForm__form1--field {
  background-color: #fff;
  color: #222;
  display: flex;
  align-items: center;
  padding: 9px 14px;
  width: 175px;
  margin-right: 20px;
  border-radius: 5px;
  font-family: "Nexa Bold Web", "Segoe UI", arial, verdana, sans-serif;
}
.BookingForm__form1--field:hover {
  background-color: #ddd;
  cursor: pointer;
}
.BookingForm__form1--field p {
  font-family: "Nexa Bold Web", "Segoe UI", arial, verdana, sans-serif;
}
.BookingForm__form1--field img {
  margin-left: auto;
  width: 20px;
}
.BookingForm__form1--field input {
  font-family: "Nexa Bold Web", "Segoe UI", arial, verdana, sans-serif;
  font-size: 16px;
  border: none;
  background-color: rgba(255,255,255,0);
}
.BookingForm__form1--field input[type=number] {
  padding-right: 0;
}
.BookingForm__form1--field input::-webkit-calendar-picker-indicator,
.BookingForm__form1--field input::-webkit-clear-button,
.BookingForm__form1--field input::-webkit-inner-spin-button,
.BookingForm__form1--field input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  display: none;
}
.BookingForm__form1--field input:focus {
  outline: none;
  background-color: rgba(255,255,255,0);
}
.BookingForm__form1--field input:hover {
  background-color: #ddd;
  cursor: pointer;
}
.BookingForm__form1--submit {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  align-self: stretch;
  font-size: 16px;
}
.Contact {
  background-color: #222;
  color: #eaeaea;
}
.Footer {
  background-color: #111;
  color: #999;
  padding: 30px 20px 0 20px;
}
.Footer a {
  color: #eaeaea !important;
  text-decoration: none;
}
.Footer a:hover {
  color: #eaeaea !important;
  text-decoration: underline;
}
.Footer h5 {
  font-size: 1.2em;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 0.1em;
}
.Footer .page-container {
  display: flex;
  justify-content: space-between;
}
.Footer .page-container .Footer__column {
  margin-bottom: 30px;
  width: 33.3%;
  line-height: 1.6em;
}
.Footer .page-container .Footer__column--menu--copyright {
  margin-top: 20px;
}
.Footer .page-container .Footer__column--find-us {
  margin-bottom: 20px;
}
.Footer .page-container .Footer__column--contact-us a {
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  line-height: 2em;
}
.Footer .page-container .Footer__column--contact-us--icon {
  width: 22px;
  margin-right: 10px;
}
.Footer__AMP {
  width: 100%;
  background-color: #000;
  padding: 10px 20px;
  margin: 0 0 0 -20px;
  display: flex;
  justify-content: space-between;
}
.Footer__AMP--sign-in {
  color: #666;
}
.Footer__AMP--sign-in:hover {
  color: #eaeaea;
  cursor: pointer;
  text-decoration: underline;
}
.admin .Footer {
  margin-bottom: 75px;
}
.Gallery {
  background-color: #222;
  color: #eaeaea;
}
.Gallery h2 {
  margin-right: -7px;
}
.Gallery__add {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: -20px;
}
.Gallery__add--button {
  transition: all 0.3s;
  background-color: #54b238;
  padding: 15px 20px 12px 20px;
}
.Gallery__add--button > div {
  color: #eaeaea;
  font-size: 1.3em;
}
.Gallery__add--button:hover {
  cursor: pointer;
  background-color: #287f28;
}
.Gallery__add--button--inner {
  transition: all 0.3s;
  display: flex;
  align-items: center;
}
.Gallery__add--button--inner--plus {
  font-size: 3.1em;
  margin-right: 10px;
  margin-top: -30px;
  height: 30px;
}
.Gallery__add--button--inner--text {
  font-size: 1.2em;
  font-family: "Nexa Bold Web", "Segoe UI", arial, verdana, sans-serif;
}
.Gallery__filters {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.Gallery__filters--title {
  font-family: "Nexa Bold Web", "Segoe UI", arial, verdana, sans-serif;
  margin-right: 10px;
}
.Gallery__filters--filter {
  padding: 6px 12px 5px 12px;
  border-radius: 50px;
  margin: 0 3px;
  user-select: none;
  font-size: 0.8em;
  background-color: #444;
}
.Gallery__filters--filter:hover {
  background-color: #666;
  cursor: pointer;
}
.Gallery__filters--filter.active {
  background-color: #f18825;
}
.Gallery__items {
  display: flex;
  align-items: space-around;
  flex-wrap: wrap;
  width: 100%;
}
.Gallery__items--block {
  position: relative;
  float: left;
  width: 300px;
  height: 300px;
  background-color: #222;
  transition: all 0.3s;
  overflow: hidden;
}
.Gallery__items--block:hover {
  cursor: zoom-in;
}
.Gallery__items--block:hover > div {
  opacity: 1;
}
.Gallery__items--block--image {
  transform: scale(1);
  transition: all 0.5s;
}
.Gallery__items--block--image.drag-over {
  opacity: 0.5 !important;
}
.Gallery__items--block--image:hover {
  transform: scale(1.1);
}
.Gallery__items--block--image:hover + .Gallery__items--block--icons {
  opacity: 0.5 !important;
}
.Gallery__items--block--image:hover + .Gallery__items--block--resize {
  opacity: 1 !important;
}
.Gallery__items--block--image.loading {
  opacity: 0;
}
.Gallery__items--block--image.loaded {
  opacity: 1;
}
.Gallery__items--block--image[draggable="true"] {
  cursor: grab;
}
.Gallery__items--block--resize {
  position: absolute;
  background-color: rgba(255,255,255,0.75);
  color: #222;
  font-family: "Nexa Bold Web", "Segoe UI", arial, verdana, sans-serif;
  text-transform: uppercase;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.Gallery__items--block--resize img {
  margin-bottom: 20px;
  width: 50px;
}
.Gallery__items--block--icons {
  position: absolute;
  height: auto;
  top: 10px;
  right: 10px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  opacity: 1;
}
.Gallery__items--block--icons--container {
  position: relative;
  margin-bottom: 5px;
}
.Gallery__items--block--icons--container button {
  height: 30px;
  width: 30px;
  position: relative;
  font-size: 1.2em;
  border: none;
  border-radius: 3px;
  z-index: 2;
  opacity: 1;
  color: #eaeaea;
}
.Gallery__items--block--icons--container button:hover {
  cursor: pointer;
}
.Gallery__items--block--icons--container button:hover + div {
  opacity: 1;
  right: 28px;
}
.Gallery__items--block--icons--container--remove-item {
  padding: 3px 0 0 5px;
  background-color: #222;
}
.Gallery__items--block--icons--container--remove-item:hover {
  background-color: #b22222;
}
.Gallery__items--block--icons--container--edit-item {
  padding: 3px 0 0 2px;
  background-color: #54b238;
}
.Gallery__items--block--icons--container--edit-item:hover {
  background-color: #54b238;
}
.Gallery__items--block--icons--container div {
  background-color: rgba(30,30,30,0.75);
  color: #eaeaea;
  font-size: 0.8em;
  position: absolute;
  top: 0;
  right: 0;
  height: 30px;
  padding: 0 10px;
  white-space: nowrap;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
.GalleryAddItem {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
  color: #eaeaea;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.GalleryAddItem__close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  background-color: #222;
  color: #eaeaea;
  font-size: 1.5em;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 3px 0 0 2px;
}
.GalleryAddItem__close:hover {
  background-color: #b22222;
}
.GalleryAddItem__modal {
  background-color: #222;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.GalleryAddItem__modal--form {
  padding: 50px 30px;
  height: 100%;
  align-self: stretch;
  font-size: 1.1em;
}
.GalleryAddItem__modal--form--title {
  font-size: 2.4em;
  text-align: left;
  margin-top: 0;
  margin-bottom: 30px;
}
.GalleryAddItem__modal--form p {
  font-size: 1em;
  color: #888;
  margin-bottom: 10px;
  line-height: 1.2em;
}
.GalleryAddItem__modal--form label {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 5px;
}
.GalleryAddItem__modal--form input[type=file] {
  margin-bottom: 30px;
}
.GalleryAddItem__modal--form input[type=text] {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 30px;
  background-color: #333;
  border: none;
  border-bottom: 1px solid #f18825;
  font-size: 1em;
  padding: 5px 7px;
  color: #eaeaea;
}
.GalleryAddItem__modal--form input[type=text]:focus {
  outline: none;
  background-color: #444;
}
.GalleryAddItem__modal--form--tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-bottom: 30px;
}
.GalleryAddItem__modal--form--tags--checkbox {
  background-color: #444;
  color: #eaeaea;
  padding: 9px 15px 7px 15px;
  border-radius: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  user-select: none !important;
}
.GalleryAddItem__modal--form--tags--checkbox:hover {
  background-color: #c7701f;
}
.GalleryAddItem__modal--form--tags--checkbox.checked {
  background-color: #f18825;
}
.GalleryAddItem__modal--form button[type=reset] {
  background-color: #444;
  color: #eaeaea;
  margin-right: 20px;
  padding: 10px 13px 8px 13px;
}
.GalleryAddItem__modal--form button[type=reset]:hover {
  background-color: #666;
}
.GalleryAddItem__modal--form button[type=submit] {
  background-color: #f18825;
  color: #eaeaea;
  padding: 10px 13px 8px 13px;
}
.GalleryAddItem__modal--form button[type=submit]:hover {
  background-color: #c7701f;
}
.GalleryDeleteItem {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
  color: #eaeaea;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.GalleryDeleteItem__close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  background-color: #222;
  color: #eaeaea;
  font-size: 1.5em;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 3px 0 0 2px;
}
.GalleryDeleteItem__close:hover {
  background-color: #b22222;
}
.GalleryDeleteItem__modal {
  background-color: #222;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.GalleryDeleteItem__modal img {
  max-width: 600px;
  max-height: 600px;
}
.GalleryDeleteItem__modal--confirm {
  padding: 40px;
  display: flex;
  flex-direction: column;
}
.GalleryDeleteItem__modal--confirm--title {
  font-size: 2.4em;
  text-align: left;
  margin-top: 0;
  margin-bottom: 10px;
}
.GalleryDeleteItem__modal--confirm--info {
  color: #999;
  margin-bottom: 18px;
  font-size: 1.2em;
}
.GalleryDeleteItem__modal--confirm--delete {
  background-color: #54b238;
  margin-right: 15px;
  font-size: 0.8em;
}
.GalleryDeleteItem__modal--confirm--delete:hover {
  background-color: #b22222;
}
.GalleryDeleteItem__modal--confirm--cancel {
  background-color: #444;
  font-size: 0.8em;
}
.GalleryDeleteItem__modal--confirm--cancel:hover {
  background-color: #888;
}
.GalleryEditItem {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
  color: #eaeaea;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.GalleryEditItem__close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  background-color: #222;
  color: #eaeaea;
  font-size: 1.5em;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 3px 0 0 2px;
}
.GalleryEditItem__close:hover {
  background-color: #b22222;
}
.GalleryEditItem__modal {
  background-color: #222;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.GalleryEditItem__modal--image {
  z-index: 11;
  max-height: 500px;
  max-width: 70vw;
}
.GalleryEditItem__modal--form {
  padding: 50px 30px;
  width: 350px;
  align-self: stretch;
  border-left: 1px solid #f18825;
  font-size: 1.1em;
}
.GalleryEditItem__modal--form--title {
  font-size: 2.4em;
  text-align: left;
  margin-top: 0;
  margin-bottom: 30px;
}
.GalleryEditItem__modal--form p {
  font-size: 1em;
  color: #888;
  margin-bottom: 10px;
  line-height: 1.2em;
}
.GalleryEditItem__modal--form label {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 5px;
}
.GalleryEditItem__modal--form input {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 30px;
  background-color: #333;
  border: none;
  border-bottom: 1px solid #f18825;
  font-size: 1em;
  padding: 5px 7px;
  color: #eaeaea;
}
.GalleryEditItem__modal--form input::placeholder {
  color: #eaeaea;
}
.GalleryEditItem__modal--form input:focus {
  outline: none;
  background-color: #444;
}
.GalleryEditItem__modal--form--tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-bottom: 30px;
  margin-top: 10px;
  flex-wrap: wrap;
}
.GalleryEditItem__modal--form--tags--checkbox {
  background-color: #444;
  color: #eaeaea;
  padding: 9px 15px 7px 15px;
  border-radius: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  user-select: none !important;
  font-size: 0.7em;
}
.GalleryEditItem__modal--form--tags--checkbox:hover {
  background-color: #c7701f;
}
.GalleryEditItem__modal--form--tags--checkbox.checked {
  background-color: #f18825;
}
.GalleryEditItem__modal--form button[type=reset] {
  background-color: #444;
  color: #eaeaea;
  margin-right: 20px;
  padding: 10px 13px 8px 13px;
  font-size: 0.8em;
  font-family: "Nexa Bold Web", "Segoe UI", arial, verdana, sans-serif;
}
.GalleryEditItem__modal--form button[type=reset]:hover {
  background-color: #666;
}
.GalleryEditItem__modal--form button[type=submit] {
  background-color: #54b238;
  color: #eaeaea;
  padding: 10px 13px 8px 13px;
  font-size: 0.8em;
  font-family: "Nexa Bold Web", "Segoe UI", arial, verdana, sans-serif;
}
.GalleryEditItem__modal--form button[type=submit]:hover {
  background-color: #287f28;
}
.Home {
  background-color: #222;
  color: #eaeaea;
}
.Lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
  color: #eaeaea;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}
.Lightbox__nav {
  padding: 80px 40px;
  font-size: 3em;
  color: #eaeaea;
  background: none;
  opacity: 0.5;
  transition: opacity 0.5s;
}
.Lightbox__nav:hover {
  opacity: 1;
}
.Lightbox__close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  background-color: #222;
  color: #eaeaea;
  font-size: 1.5em;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  padding: 3px 0 0 2px;
}
.Lightbox__close:hover {
  background-color: #b22222;
}
.Lightbox__image {
  background-color: #222;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.Lightbox__image--loading {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 47%;
  color: #666;
}
.Lightbox__image--active {
  transition: opacity 0.3s;
  display: block;
  position: relative;
  z-index: 11;
  max-width: 75vw;
  max-height: 85vh;
}
.Lightbox__image--active.loading {
  opacity: 0;
}
.Lightbox__image--active.loaded {
  opacity: 1;
}
.Lightbox__image--caption {
  position: relative;
  background-color: #222;
  line-height: 0em;
  display: flex;
  border-top: 1px solid #f18825;
  text-align: center;
  padding: 30px 0;
}
.Lightbox__image--caption h5 {
  width: 100%;
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.Menu {
  background-color: #222;
  color: #eaeaea;
}
.Menu__sections {
  max-width: 1600px;
  margin: 0 auto;
}
.MenuSection {
  padding: 20px;
}
.MenuSection__blocks {
  column-count: 2;
}
.MenuSection__title {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid #f18825;
  margin-bottom: 30px;
}
.MenuBlock {
  background-color: #eaeaea;
  color: #222;
  display: inline-block;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  float: left;
  margin: 0 0 1em;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
  background-image: url("/images/menu/menu-texture.jpg");
}
.MenuBlock__title {
  color: #222;
  margin-bottom: 10px;
  font-family: "Nexa Bold Web", "Segoe UI", arial, verdana, sans-serif;
  font-size: 1.6em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-bottom: 5px;
  border-bottom: 1px solid #f18825;
}
.MenuBlock__description {
  font-size: 1em;
  margin-bottom: 10px;
}
.MenuBlock__items li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 10px;
}
.MenuBlock__items li * {
  font-family: 'Helvetica Neue', sans-serif;
}
.MenuBlock__items li:nth-child(even) {
  background-color: #ddd;
}
.MenuBlock__items--subheading {
  font-size: 1.1em;
  padding: 15px 0 5px 0;
  font-family: "Nexa Bold Web", "Segoe UI", arial, verdana, sans-serif;
  text-transform: uppercase;
}
.MenuBlock__items--description {
  flex: 0 0 90%;
  color: #666;
  font-size: 0.9em;
}
.MenuBlock__items--section {
  margin-bottom: 15px;
}
.MenuBlock__items--section:last-child {
  margin-bottom: 0 !important;
}
.MenuBlock__items--allergens {
  margin-left: 10px;
}
.MenuBlock__items--allergens--tag {
  padding: 0;
  margin-right: 0;
  width: 20px;
}
.Nav {
  text-align: center;
  background-color: #222;
  padding: 30px 20px;
  margin: 0;
  color: #fff;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.Nav a {
  color: #eaeaea;
  text-decoration: none;
}
.Nav__background-image {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  min-width: 100%;
  z-index: 0;
  transition: opacity 0.5s;
}
.Nav__background-image.loading {
  opacity: 0;
}
.Nav__background-image.loaded {
  opacity: 1;
}
.Nav__wrapper {
  z-index: 1;
}
.Nav__wrapper--menu {
  list-style: none;
  padding-left: 0;
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  max-width: 300px;
}
.Nav__wrapper--menu li a {
  margin: 0 20px;
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 700;
  letter-spacing: 0.1em;
  padding: 3px 6px;
  border-bottom: 3px solid rgba(223,125,50,0);
  transition: border-bottom 0.3s;
}
.Nav__wrapper--menu li a:hover {
  text-decoration: none;
  border-bottom-color: #df7d32;
}
.Nav__wrapper h1 a {
  text-decoration: none;
}
.Newsletter {
  background-color: #eee;
  color: #444;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 0;
  border-top: 2px solid #f18825;
}
.Newsletter h4 {
  font-size: 1.6em;
  margin-bottom: 30px;
}
.Newsletter label {
  margin-right: 10px;
  font-family: "Nexa Bold Web", "Segoe UI", arial, verdana, sans-serif;
  text-transform: uppercase;
}
.Newsletter input {
  background-color: #ddd;
  border: none;
  margin-right: 30px;
  color: #222;
  font-size: 1.2em;
  padding: 8px 8px 6px 8px;
  width: 300px;
}
.Newsletter input:focus {
  background-color: #ccc;
}
.Newsletter form {
  margin-bottom: 50px;
}
.Newsletter form button {
  font-size: 1em;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.Newsletter__parogon-pubs {
  background-color: #444;
  color: #eaeaea;
  padding-top: 50px;
  padding-bottom: 40px;
  width: 100%;
}
.Newsletter__parogon-pubs h4 {
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.Newsletter__parogon-pubs h5 {
  font-size: 1.2em;
}
.Newsletter__parogon-pubs--logos {
  display: flex;
  justify-content: space-between;
}
.ParogonNav {
  background-color: #000;
  color: #eaeaea;
  padding: 0 10px;
}
.ParogonNav .page-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ParogonNav a {
  display: flex;
  align-items: center;
  color: #eaeaea;
  user-select: none;
  text-decoration: none;
}
.ParogonNav__main-logo {
  width: 180px;
}
.ParogonNav__pub-list {
  display: flex;
  justify-content: space-between;
}
.ParogonNav__pub-list--item {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.8em;
  padding: 13px 12px;
}
.ParogonNav__pub-list--item:hover {
  cursor: pointer;
  background-color: #ddd;
  color: #222;
}
.ParogonNav__pub-list--item.current {
  color: #eaeaea;
  background-color: #444;
}
.ParogonNav__pub-list--item.current:hover {
  cursor: pointer;
  background-color: #ddd;
  color: #222;
}
.ToastMessages {
  color: #eaeaea;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 99999999;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 400px;
}
.ToastMessages__message {
  padding: 15px 20px 15px 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  transform: translateX(120%);
  display: flex;
  align-items: center;
  -webkit-box-shadow: 3px 4px 22px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 4px 22px -4px rgba(0,0,0,0.75);
  box-shadow: 3px 4px 22px -4px rgba(0,0,0,0.75);
}
.ToastMessages__message--close {
  background: none;
  padding: 5px 10px;
  color: #eaeaea;
}
.ToastMessages__message.success {
  background-color: #54b238;
}
.ToastMessages__message.success:hover {
  cursor: pointer;
  background-color: #287f28;
}
.ToastMessages__message.error {
  background-color: #b22222;
}
.ToastMessages__message.active {
  transform: translateX(0);
  transition: all 300ms ease-out;
}
.ToastMessages__message.active.leave {
  transform: translateX(120%) !important;
  transition: all 300ms ease-in;
  margin-bottom: -50px;
}
