@font-face {
  font-family: 'Ostrich Sans';
  src: url("/fonts/ostrich-sans-black.woff");
  font-weight: 900;
  font-style: normal;
}
* {
  font-family: "Nexa Light", "Segoe UI", arial, verdana, sans-serif;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background-color: #eaeaea;
}
button {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.Nav {
  text-align: center;
  background-color: #222;
  padding: 30px 20px;
  margin: 0;
  color: #fff;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid #df7d32;
  overflow: hidden;
  position: relative;
}
.Nav a {
  color: #eaeaea;
  text-decoration: none;
  letter-spacing: 0.1em;
}
.Nav__background-image {
  position: absolute;
  min-width: 100%;
  z-index: 0;
  transition: opacity 0.5s;
}
.Nav__background-image.loading {
  opacity: 0;
}
.Nav__background-image.loaded {
  opacity: 1;
}
.Nav__cta {
  position: absolute;
  top: 50px;
  right: 50px;
}
.Nav__cta--book-table {
  background-color: #df7d32;
  color: #eaeaea;
  padding: 20px 20px 15px 20px;
  font-size: 1em;
}
.Nav__cta--book-table:hover {
  background-color: #b05c1c;
}
.Nav__cta--divide {
  margin: 1.2em 0 1em 0;
}
.Nav__cta--phone {
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
}
.Nav__cta--phone--text {
  padding-top: 0.1em;
}
.Nav__cta--phone--icon {
  width: 20px;
  height: 20px;
  margin-right: 0.4em;
}
.Nav__wrapper {
  z-index: 1;
}
.Nav__wrapper--menu {
  list-style: none;
  padding-left: 0;
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  max-width: 300px;
}
.Nav__wrapper--menu li {
  margin: 0 20px;
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 700;
}
.Nav__wrapper--menu li a:hover {
  text-decoration: underline;
}
.Nav__wrapper h1 a {
  text-decoration: none;
}
h2 {
  text-transform: uppercase;
  font-size: 3.5em;
  letter-spacing: 0.15em;
  width: 100%;
  text-align: center;
  font-family: 'Ostrich Sans';
  margin: 50px auto;
}
.Footer {
  background-color: #111;
  color: #666;
  text-align: center;
  padding: 20px;
}
.page {
  padding: 12px 50px 80px 50px;
}
.page .page-container {
  max-width: 1200px;
  margin: 0 auto;
}
.Menu {
  background-color: #222;
  color: #eaeaea;
}
.Gallery {
  background-color: #222;
  color: #eaeaea;
}
.Gallery__items {
  display: flex;
  align-items: space-around;
  flex-wrap: wrap;
}
.Gallery__items--block {
  position: relative;
  float: left;
  width: 300px;
  height: 300px;
  background-color: #222;
  transition: all 0.3s;
  overflow: hidden;
}
.Gallery__items--block:hover {
  cursor: pointer;
}
.Gallery__items--block:hover > button {
  opacity: 1;
}
.Gallery__items--block--image {
  transform: scale(1);
  filter: blur(0) brightness(100%);
  transition: all 0.5s;
}
.Gallery__items--block--image:hover {
  transform: scale(1.1);
  filter: blur(3px) brightness(60%);
}
.Gallery__items--block--image.loading {
  opacity: 0;
}
.Gallery__items--block--image.loaded {
  opacity: 1;
}
.Gallery__items--block--remove-item {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 3px;
  background-color: #1e1e1e;
  color: #fff;
  z-index: 1;
  transition: opacity 0.2s;
  opacity: 0;
}
.Gallery__items--block--remove-item:hover {
  cursor: pointer;
  background-color: #b22222;
}
.Gallery__items--block--remove-item:hover + div {
  opacity: 1;
  right: 45px;
}
.Gallery__items--block--remove-item--caption {
  background-color: rgba(30,30,30,0.75);
  border-radius: 3px;
  color: #fff;
  font-size: 0.8em;
  position: absolute;
  top: 12px;
  right: 25px;
  padding: 5px 7px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.Gallery__items--block--add-item {
  padding: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.3s;
  background-color: #222;
  -webkit-box-shadow: inset 0px 0px 0px 2px #3c3c3c;
  -moz-box-shadow: inset 0px 0px 0px 2px #3c3c3c;
  box-shadow: inset 0px 0px 0px 2px #3c3c3c;
}
.Gallery__items--block--add-item > div {
  color: #777;
  font-size: 1.4em;
}
.Gallery__items--block--add-item:hover {
  cursor: pointer;
  background-color: #333;
  -webkit-box-shadow: inset 0px 0px 0px 2px #df7d32;
  -moz-box-shadow: inset 0px 0px 0px 2px #df7d32;
  box-shadow: inset 0px 0px 0px 2px #df7d32;
}
.Gallery__items--block--add-item:hover > div {
  color: #aaa;
}
.Gallery__items--block--add-item--inner {
  position: absolute;
  color: #aaa;
  transition: all 0.3s;
}
.Gallery__items--block--add-item--inner--plus {
  font-size: 5em;
}
.Gallery__items--block--add-item--inner--text {
  font-size: 1.2em;
}
.Lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(30,30,30,0.8);
  color: #fff;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.Lightbox__nav {
  padding: 80px 40px;
  font-size: 3em;
  color: #fff;
  background: none;
  opacity: 0.5;
  transition: opacity 0.5s;
}
.Lightbox__nav:hover {
  opacity: 1;
}
.Lightbox__close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
  background-color: #222;
  color: #fff;
  font-size: 1.5em;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.Lightbox__close:hover {
  background-color: #b22222;
}
.Lightbox__image {
  background-color: #222;
  border-radius: 10px;
  overflow: hidden;
  width: 1000px;
  position: relative;
}
.Lightbox__image--loading {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 47%;
  color: #666;
}
.Lightbox__image--active {
  width: 100%;
  height: 600px;
  transition: opacity 0.3s;
  display: block;
  position: relative;
  z-index: 11;
}
.Lightbox__image--active.loading {
  opacity: 0;
}
.Lightbox__image--active.loaded {
  opacity: 1;
}
.Lightbox__image--caption {
  position: relative;
  background-color: #222;
  line-height: 0em;
  display: flex;
  border-top: 1px solid #df7d32;
  text-align: center;
  padding: 30px 0;
}
.Lightbox__image--caption h5 {
  width: 100%;
  text-transform: uppercase;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
